<% form_for @order do %>

  <div class="col-6">
    <H5>Заказ создан</H5><%= @order.created_at.strftime("%d-%^b-%Y") %>
  </div>


  <%= select_day(5)%>



  # Для выбора даты и вывода заказа на общую сумму за текущий день!


  Order.where(name: 'dave').each do |order|
  order.pay_type = "Заказ товара"
  order.save
  end


<% end %>