<h1 style="text-align: center">Список всех заказов</h1>
<div class="container">
  <div class="row justify-content-center"></div>
</div>
<% orders_path do |order| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 col-md-4 text-center">Номер заказа <%= link_to order.value %></div>
    </div>
  </div>
<% end %>