<div class="container" style="margin-top: 300px">
  <div class="row justify-content-center">
    <div class="col-8 col-md-4">
      <form>
        <h4 class="text-center">Для осуществления заказа необходимо войти</h4>
        <div class="form-group">
          <input type="email" class="form-control text-center" id="exampleInputName"
                 aria-describedby="emailHelp" placeholder="Ваше имя">
          <small id="emailHelpName" class="form-text text-muted text-center">Имя используется
            для заказа</small>
        </div>

        <div class="form-group">
          <input type="email" class="form-control text-center" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="Электронную почту">
          <small id="emailHelpLogin" class="form-text text-muted text-center">Не волнуйтесь, мы
            не делаем рассылку писем</small>
        </div>

        <div class="form-group">
          <input type="password" class="form-control text-center" id="exampleInputPassword1"
                 placeholder="Пароль">
          <small id="emailHelpPassword" class="form-text text-muted text-center">Придумайте
            легкий, но запоминающийся пароль</small>
        </div>

        <div class="row justify-content-center">
          <button type="submit" class="btn btn btn-dark">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>